.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}
.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}
.ml-1{
    margin-left: 1rem;
}
.ml-s2{
    margin-left: 0.2rem;
}
.ml-s3{
    margin-left: 0.3rem;
}
.ml-s4{
    margin-left: 0.4rem;
}
.ml-s5{
    margin-left: 0.5rem;
}

.flex-inline {
    display: inline-flex;
}
.h-1{
    height: 1vh;
}
.app-color {
    background-color: #f5434c;
    color-scheme: #fafafa;
}